---
---
<div id="map-view"></div>

<style>
  #map-view { height: calc(100vh - 320px); border-radius: 8px; border: 1px solid var(--border); background: #eee; }
  @media (max-width: 768px) {
    #map-view { height: 300px; }
  }
</style>
